[Desktop Entry]
Type=Application
Name=Default Applications
GenericName=Application Chooser
Comment=Choose default applications for common tasks
Exec=gtkchooser
Icon=preferences-desktop-default-applications
Terminal=false
Categories=Settings;DesktopSettings;GTK;
Keywords=default;applications;mime;browser;email;editor;player;
StartupNotify=true
